<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tail file</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="../../css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}" href="../../css/bootstrap-theme.css"/>
    <link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
    <script th:src="@{/webjars/angularjs/1.3.0-beta.11/angular.min.js}" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js" > </script>
    <script th:src="@{/js/sockjs-0.3.4.js}" src="../../static/js/sockjs-0.3.4.js"> </script>
    <script th:src="@{/js/stomp.js}" src="../../static/js/stomp.js"> </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var URLS = {};
        URLS.tailFilesURL = /*[[@{/tailfilesep}]]*/ '/tailfilesep';
        URLS.tailFilesTopic = /*[[@{/topic/tailfiles}]]*/ '/topic/tailfiles';
        /*]]>*/
    </script>
    <script  th:src="@{/js/tailfileapp.js}" src="../../static/js/talfileapp.js" > </script>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Tail a file!</a>
			</div>
			<div class="navbar-collapse collapse">
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div>
			<div ng-app="tailFilesApp" ng-controller="TailFilesCtrl">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Tailing file: <span th:text="${filename}">test.txt</span></h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" ng-if="statusmessage != ''">
                                    <div class="col-xs-12">
                                        <p class="bg-success text-center">
                                            <span ng-bind="statusmessage"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" ng-if="errormessage != ''">
                                    <div class="col-xs-12">
                                        <p class="bg-danger text-center">
                                            <span ng-bind="errormessage"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <textarea class="form-control" rows="26">{{buffer.newlineStr()}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</body>
</html>