body {
	padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:  Verdana, Georgia, Times, serif;
}
p, div {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
}

.longtext {
    word-break:break-all;
}


.form-signin .form-signin-heading,.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}